#pageContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
 
}


#mainDisplay{
    display:flex;
    width:80vw;
    justify-content: center;
    gap:100px;
}

#pageContainer{
    display:flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board{
    background-color: beige;
    width : 60vw;
}

#btnLeftRight{
    display:flex;
    gap: 30px;
}


#formDiv{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

#navigation{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#board{
    position: relative;  /* Make board the reference */
    display: flex;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    padding-top:10px;
    background-color: beige;
}

#userMessage{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: none;  hidden by default */
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    max-width: 80%;
}

.boardSquare{
    width : 85%;
}

.boardLine{
    display:flex;
}

.btnDir{
    width: 3rem;
    border: 0;
    background-color: transparent;
}

button{
      all: unset;
      cursor: pointer;
}

@media only screen and (max-width: 750px) {
    #mainDisplay{
        flex-direction: column;
        gap:50px;
        align-items: center;
    }

    #board{
        width: 80%;
    }
}

